@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');
@import url('//db.onlinewebfonts.com/c/b2215378fb1b991865ced500401f5282?family=SunsetSerial-Bold');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav-links{
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 1.5vw;
  font-style: normal;
}
.background-head{
  background-image: url(./components/images/shutterstock_1728111412\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0 ;
}
.heading{
  padding-top: 12rem;
  padding-left: 15rem;

}
.text-heading{
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 4vw;
}
.sub-text{
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 1.7vw;
  font-style: normal;
}

@media (max-width: 768px){

  
}
@media (max-width: 576px){
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
 
}
