@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:wght@100&display=swap');
@import url('//db.onlinewebfonts.com/c/b2215378fb1b991865ced500401f5282?family=SunsetSerial-Bold');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.blog{
  font-family: 'Montserrat', sans-serif;
  padding-right: 5rem;
  margin-right: 1rem;
  padding-top: 2rem;
}
.logo-gn{
  display: block;
  width: 100% !important;
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  padding-top: 1rem !important;
  padding-left: 4rem !important;
  margin-left: 2rem !important;
}
.header{
  background-color: hsl(203, 96%, 18%) !important;
  margin-left: 1rem;
  margin-right: 1rem;
  /* width: 100%!important; */
}



.bg-primary{
  background-color: hsl(203, 96%, 18%) !important;
  border: 12px;
  border-radius: solid 50px;
  
}

.head-content{
  padding-left: 4rem !important;
  margin-top: 8rem !important;
}
.pb-3-nm{
  width: 25% !important;
}

.savings{
  padding-right: 0rem;
  /* padding-left: 10rem !important; */
  margin-right: 0rem;
  margin-top: 3rem;
  /* width: 20%!important; */
}

.text-heading{
  font-family: 'Sunset';
  font-size: 5.3vw !important;
}

.sub-text{
  font-family: 'Montserrat', sans-serif; 
  font-size: 1.6vw !important;
}
.input-group{
  width: 100% !important;
}
.field{
  width: 50% !important;
  border-style: none !important;
  background-color: #a5acb9 !important;
}
.field-btn{
  width: 50% !important;
  background-color: #3BAD0A !important;
}
.wrapper{
  background-color: #a5acb9 !important;
  position: relative;
  width: 100% !important;
  border: none;
  border: 50px;
  border-radius: 50px;
}

#inputEmail4::placeholder{
  color: rgb(8, 8, 8) !important;
  padding-left: 3rem;
  font-family: 'Montserrat', sans-serif ;
  font-size: 1.5vw;
  font-weight: 600;
  /* margin-top: 5px !important; */
}


.email-space{
  border-style: none;
  background-color: #a5acb9 !important;
  width: 65% !important;
}

.email-btn{
  background-color: #3BAD0A !important;
  font-family: Roboto;
  width: 45% !important;
  position: absolute;
  display: inline;
  border: none;
  top: 0;
  right: 0;
  letter-spacing: 0.05rem;

}
.email-btn-1{
  background-color: #3BAD0A !important;
  font-family: Roboto;
  width: 260px;
  position: absolute;
  display: inline;
  border: none;
  top: 0;
  right: 0;
  letter-spacing: 0.05rem;
}

#join{
  font-family: 'Montserrat', sans-serif;
  color: white !important;
  font-size: 1.5vw;
  font-weight: 600;
  margin-top: 0px !important;
}
.part-1{
  background-color: #ffffff !important;
}
.earn{
  font-family: 'Sunset-Serial';
  font-size: 5vw !important;
  font-weight: 600 !important;
  text-align: center;
}
.p-text{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 1.5vw !important;
  font-weight: 500 !important;
  padding-bottom: 3rem !important;
}
.email-btn-ft{
  background-color: #3BAD0A !important;
  font-family: 'Montserrat', sans-serif;
  width: 30% !important;
  position:relative;
  border: none;
}

.does{
  font-family: 'Sunset';
  padding-top: 3rem;
  font-size: 7vw !important;
}
.card-text{
  padding-bottom: 4rem !important;
}
.card-text-4{
  padding-bottom: 1.5rem !important;
}

.card{
  border: 0 !important;
  border-radius: none !important;
}
.card-body{
  border: 0ch !important;
  border-radius: none !important;
 
}
.card-body-1{
  border: 0ch !important;
  border-radius: none !important;
  padding-bottom: 0rem !important;

}

.cb{
  background-color: #3BAD0A80;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem !important;
  font-weight: 500 !important;
  text-transform: uppercase;
  padding-top: 4rem!important;
  padding-bottom: 4rem !important;
}
.cb-2{
  background-color: #3BAD0A80 ;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500 !important;
  text-transform: uppercase;
}

.if{
  font-family: 'Montserrat', sans-serif;
  padding-top: 1.5rem;
  text-transform: uppercase;
}
.we{
  padding-left: 13rem !important;
  padding-right: 13rem !important;
}
.wrapper-2{
  background-color: #a5acb9 !important;
  position: relative;
  width: 100% !important;
  border: none;
  border: 50px;
  border-radius: 50px;
}
.email-spac{
  border-style: none;
  background-color: #a5acb9 !important;
  width: 55% !important;
}

.email-bt{
  background-color: #3BAD0A !important;
  font-family: Roboto;
  width: 50% !important;
  position: absolute;
  display: inline;
  border: none;
  top: 0;
  right: 0;
}

.we-1{
  padding-left: 13rem;
  padding-right: 10rem;
  margin-left: 11rem;
  margin-right: 11rem;
}
.section{
  background-color:  #EDCFF480;
  margin-top: 3rem;
}

.why{
  font-family: 'sunset';
  font-size: 5vw !important;
  font-weight: 600;
}
.why-text{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 2vw !important;
  font-weight: 400;
}
.display-6-earn{
  font-family: 'Sunset-Serial';
  font-size: 2rem !important;
  font-weight: 600 !important;
  text-align: center;
}
.p-text{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
.image{
  width: 80%;
  padding-left: 6rem;
}

.section-3{
  background-color:  #02385A;
}

.do-head{
  font-family: 'Sunset';
  font-size: 4.5vw !important;
}
.do-text{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 2.5vw !important;
  padding-top: -1rem !important;
}
.layout{
  width: 50%;
}
 
.cb-vec{
  background-color: #296E0B;
}
.card-2-1{
  /* padding-bottom: 2em !important; */
}
.vec-1{
  width: 30% !important;
  padding-top: 2rem !important;
}
.vec-1-1{
  width: 30% !important;
  padding-top: 3rem !important;
}
.vec-1-3{
  width: 30% !important;
  margin-top: 2rem !important;
}
.obtain{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.7vw !important;
  padding-top: 2rem !important;
  /* margin-bottom: 3rem !important; */
}
.obtain-1{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.7vw !important;
  padding-top: 2rem !important;
  /* margin-bottom: 6rem !important; */
}
.obtain-3{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.7vw !important;
  padding-top: 2rem !important;
  margin-bottom: 5.5rem !important;
}
.obtain-4{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.7vw !important;
  padding-top: 0.5rem !important;
  margin-bottom: 2rem !important;
}
.too-text{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5vw !important;
}
.you-text{
  font-family:'Montserrat', sans-serif;
  font-size: 2vw !important;
}
.email-btn-2{
  background-color: #296E0B !important;
  font-family: Roboto;
  width: 260px;
  border: none;
  letter-spacing: 0.05rem;
  padding-top: 5rem;
}

.footer{
  background-color:  #1D1D1D;
}
.links{
  width: 100%;
}
.find-us{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5vw !important;
  /* margin-left: 5rem !important; */
}
.find-us-1{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5vw !important;
  /* margin-left: 18rem !important; */
}
.us{
  font-family: 'Montserrat', sans-serif;
  
}
.find-us-btn{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4vw !important;
}

.fsize{
  font-family: 'Montserrat', sans-serif;
  font-size: 2vw !important;
  font-weight: 600 !important;
}
.fsize-p{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5vw !important;
  font-weight: 400 !important;
}

.ft{
  padding-left: 20rem !important;
  margin-right: 2rem !important;
  padding-right: 3rem !important;
  margin-right: 0rem !important;
  padding-top: 4rem !important;

}
.ftt{
  padding-right: 3rem !important;
  margin-right: 0rem !important;
  padding-top: 4rem !important;

}
.fttt{
  padding-right: 10rem !important;
  padding-left: 0rem !important;
  margin-right: 0rem !important;
  padding-top: 4rem !important;
}
.nav{
  display: block;
}
.logo-ft{
  width: 12% !important;
  height: 3.5vw !important;
  /* padding-left: 2rem !important; */
}
.con{
  /* width: 100% !important; */
  margin-left: 5rem !important;
  padding-top: 0rem !important;
  margin-top: 0rem !important; 
}

.ending{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.9vw;
  margin-left: 7rem !important;
  margin-top: 2rem !important;
}
a{
  color: #ffffff;
  text-decoration: none;
}
a:link{
  color: white;
  text-decoration: none;
}
/* a:visited{
  color: red;
} */
a:hover{
  color: blue;
  text-decoration: none;
}

.ending-1{
  margin-top: 2rem !important;
  margin-left: 4rem !important;
  /* padding-left: 15rem !important; */
}
.ending-p{
  font-family:'Montserrat', sans-serif ;
  font-size: 1.5vw !important;
  padding-right: 8.5rem !important;
}
.savings-2{
  display: none;
  padding-right: 20rem !important;
}
.faq{
  font-family: 'Sunset';
  font-size: 4vw !important;
}
.social-links{
  padding-right: 30px !important;
}
.acco-1{
  font-family: 'Sunset' ;
  font-size: 2.5vw !important;
  font-weight: 600 !important;
}
.acco-2{
  font-family: 'Montserrat', sans-serif ;
  font-size: 1.5vw !important;
  font-weight: 500 !important;
}
.head-content-tab, .head-content-mob, .savings-mob, .header-mobile {
  display: none;
}
.if-tab{
  display: none;
}
.we-tab{
  display: none;
}
.if-mob{
  display: none;
}
.we-mob{
  display: none;
}
.why-text-mob{
  display: none;
}
.do-head-mob{
  display: none;
}
.too-text-tab{
  display: none;
}
.too-text-mob{
  display: none;
}
.submit-mob{
  display: none;
}

.links-mob{
  display: none;
}
.ending-tab{
  display: none;
}
.ending-mob{
  display: none;
}
.logo-sm{
  display: none;
}
.py-5-s{
  display: none;
}
.head-content-sm{
  display: none;
}
.text-heading-sm{
  display: none;
}
.sub-text-sm{
  display: none;
}
.wrapper-sm{
  display: none;
}
.email-space-sm{
  display: none;
}
.does-mob{
  display: none;
}
.email-btn-sm{
  display: none;
}
.nav-mob{
  display: none;
}
.logo-mobile{
  display: none;
}
.card-1440{
  display: none;
}
@media (max-width: 1200px){

  .card-text-3-0{
    /* font-family: 'Montserrat', sans-serif;
    font-size: 1rem !important;
    padding-top: 3rem !important;
    padding-bottom: 3.5rem !important; */
  }
  .obtain-4-0{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7vw !important;
    padding-top: 0.5rem !important;
    margin-bottom: 0rem !important;
  }
  .obtain-0{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7vw !important;
    padding-top: 2rem !important;
    margin-bottom: 0rem !important;
  }

}
  


@media (max-width: 768px){

  .pb-1-tab{
    width: 45% !important;
    padding-right: 2rem !important;
  }
  .head-content{
      display: none;
    }
  .if{
    display: none;
  }
  .we{
    display: none;
  }
    .savings-tab{
      display: block;
    }
    .too-text{
      display: none;
    }
    .we-mob{
      display: none;
    }
    .why-text-mob{
      display: none;
    }
    .do-head-mob{
      display: none;
    }
  
    .links-mob{
      display: none;
    }
    
    .ending-mob{
      display: none;
    }
    .nav-mob{
      display: none;
    }
    .display-4-md{
      font-size: 2.3rem !important;
    }
    .logo-gn{
      display: block;
    }
    .logo-1-tab{
      display: block;
      width: 90% !important;
      margin-top: 1rem !important;
      padding-top: 1rem !important;
      padding-left: 4rem !important;
    }
    .blog-tab{
      font-family: 'Montserrat', sans-serif, sans-serif;
      line-height: 24px;
      padding-right: 5rem;
      margin-right: 1rem;
      padding-top: 2rem !important;
      font-size: 3vw !important;
    }
    .head-content-tab{
      display: block;
      padding-left: 2rem !important;
      padding-right: 2rem !important;
      margin-top: 1rem !important;
      width: 100% !important;
    }
    .text-heading-tab{
      font-family: 'Sunset';
      font-size: 5.3vw !important;
    }
    .sub-text-tab{
      font-family: 'Montserrat', sans-serif; 
      font-size: 1.7vw !important;
    }
    .h6-tab{
      font-size: 1.6vw !important;
      font-weight: 500 !important;
    }
   
  #inputEmail4-tab::placeholder{
    color: rgb(8, 8, 8) !important;
    padding-left: 2rem;
    font-family: 'Montserrat', sans-serif ;
    font-size: 2.5vw;
    font-weight: 500;
  }
  #join-tab{
    font-family: 'Montserrat', sans-serif;
    color: white !important;
    font-size: 2.5vw;
    font-weight: 500;
  }
  #join-tab-1{
    font-family: 'Montserrat', sans-serif;
    color: white !important;
    font-size: 2.5vw;
    font-weight: 500;
  }
  .h5-tab{
    font-size: 0.4rem !important;
  }
  /* .card-text-tab{
    font-size: 2.5vw!important;
    font-weight: 600 !important;
  } */
  /* .card-text-tab-1{
    font-size: 2.5vw!important;
    font-weight: 600 !important;
    padding-bottom: 5rem !important;
  } */
  
  .scared-tab{
    padding-top: 1rem !important;
  }
  .why-tab{
    font-family: 'sunset';
    font-size: 8vw !important;
    font-weight: 600 ;
  }
  .why-text-tab{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 3vw !important;
    font-weight: 500 !important;
  }
  .do-head-tab{
    font-family: 'Sunset';
    font-size: 6.5vw !important;
  }
  .do-text-tab{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 3vw !important;
  }
  .obtain-tab{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5vw !important;
    padding-bottom: 40px !important;
  }
  .obtain-tab-2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5vw !important;
    padding-bottom: 5px !important;
  }
  .obtain-tab-3{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5vw !important;
    padding-left: 20px !important;
  }
  .obtain-tab-4{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5vw !important;
    margin-top: 10px !important;
    padding-top: 20px !important;
    padding-bottom: 47px !important;
  }
  .vec-1-tab{
    width: 20% !important;
    /* height: 30vw !important; */
  }
  .card-2-tab{
    width: 90% !important;
    margin-left: 20px !important;
  }
  .card-2-tab-1{
    width: 90% !important;
    margin-left:20px !important;
    margin-bottom: 30px !important;
  }
  .card-2-tab-3{
    width: 90% !important;
    margin-left:  20px !important;
    /* margin-bottom: 20px !important; */
  }
  .you-text-tab{
    font-family:'Montserrat', sans-serif;
    font-size: 4vw !important;
    
  }
  .if-tab{
    display: block;
    font-family: 'Montserrat', sans-serif;
    padding-top: 1.5rem;
    text-transform: uppercase;
  }
  .if-text-tab{
    font-size: 3vw !important;
    font-weight: 500 !important;
  }
  .we-tab{
    display: block;
    margin-left: 3rem !important;
    padding-right: 3rem !important;
    padding-left: 0rem !important;
  }
  .wrapper-tab1{
    background-color: #a5acb9 !important;
    position: relative;
    width: 100% !important;
    border: none;
    border: 50px;
    border-radius: 50px;
  }
  .earn-tab{
    font-family: 'Sunset-Serial';
    font-size: 4vw !important;
    font-weight: 700 !important;
    text-align: center;
  }
  .p-text-tab{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 2.5vw !important;
    font-weight: 500 !important;
    padding-bottom: 3rem !important;
  }
  .image-tab{
    width: 100%;
    margin-left: -2rem !important;
  }
  .too-text-tab{
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.4vw !important;
    padding-top: 15px !important;
  }
  .layout-tab{
    width: 100%;
  }
  .logo-tab{
    width: 18% !important;
    height: 4vw !important;
  }
  .links-tab{
    display: block;
    width: 50% !important;
    /* margin-right: 9rem !important; */
    padding-right: 1rem !important;
  }
  
  .find-us-1-tab{
    font-family: 'Montserrat', sans-serif;
    font-size: 3vw !important;
    /* margin-left: 18rem !important; */
  }
  .find-us-btn-tab{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8vw !important;
  }
  .fsize-tab{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.6vw !important;
    font-weight: 500 !important;
  }
  .fsize-p-tab{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6vw !important;
    font-weight: 500 !important;
  }
  .ending-p-tab{
    font-family: 'Montserrat', sans-serif;
    font-size: 2vw !important;
    padding-right: 5rem !important;
  }
  .faq-tab{
    font-family: 'Sunset';
    font-size: 6vw !important;
  }
  .acco-1-tab{
    font-family: 'Sunset' ;
    font-size: 4vw !important;
    font-weight: 600 !important;
  }
  .acco-2-tab{
    font-family: 'Montserrat', sans-serif ;
    font-size: 2.5vw !important;
    font-weight: 500 !important;
  }


    /* .cb-2-md{
      background-color: #3BAD0A80 ;
      font-family: 'Montserrat', sans-serif;
      font-size: 1.3rem;
      font-weight: 900;
      line-height: 25px;
      text-transform: uppercase;
      padding-top: 2rem !important;
    } */
    .cb-md{
      background-color: #3BAD0A80;
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
    }
    .if-md{
      font-family: 'Montserrat', sans-serif;
      width: 500px !important;
      text-transform: uppercase;
      margin-left: 9rem !important;
    }
    .why-text-md{
      font-family: Roboto;
      font-weight: 900 !important;
      font-size: 20px;
      line-height: 28px;
      text-transform: uppercase;
      letter-spacing: 0.01rem;
    }
    .pt-3-earn{
      padding-top: 2rem !important;
    }
    .image-md{
      padding-left: 4rem;
    }
    .we-btn-1{
      margin-left: 10rem !important;
      padding: 0rem !important;
    }
    .do-text-md{
      font-family: 'Montserrat', sans-serif;
      font-size: 20px;
      font-weight: 600;
      line-height: 40px;
      width: 750px;
      padding-left: 1rem;
      text-transform: uppercase;
      text-align: center;
    }
    .we-1-md{
      padding-left: 0rem;
      padding-right: 0rem;
      margin-left: 6rem;
      margin-right: 6rem;
    }
    
    .col-md-3{
      display: flexbox;
      justify-content: space-around !important;
    }
    .ps-4-md{
      margin-right: 0rem !important;
      margin-left: -2rem !important;
      padding-left: 0rem !important;
      padding-right: 2rem !important;
    }
  
    .fsize-md{
      font-family: 'Montserrat', sans-serif;
      font-size: 1rem !important;
      font-weight: 400 !important;
    }
    .fsize-p-md{
      font-family: 'Montserrat', sans-serif;
      font-size: 0.85rem;
      font-weight: 500;
    }
    .ft-md{
      padding-left: 12rem !important;
      padding-right: 0rem !important;
      margin-right: 3rem !important;
      padding-top: 4rem !important;
     
    }
    .ftt-md{
      padding-right: 0rem !important;
      margin-right: 1rem !important;
      padding-top: 4rem !important;
    
    }
    .fttt-md{
      padding-right: 1rem !important;
      padding-left: 1rem !important;
      /* margin-right: 0rem !important; */
      padding-top: 4rem !important;
    }
    .ending-tab{
      display: block;
    }
}
@media (max-width: 576px){
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .header{
    display: none;
  }
  .savings{
    display: none;
  }
  .does-nm{
    display: none;
  }
  .if-tab{
    display: none;
  }
  .we-tab{
    display: none;
  }
  .why-text{
    display: none;
  }
  .do-head-des{
    display: none;
  }
  .too-text, .too-text-tab{
    display: none;
  }
   .logo-gn{
    display: none;
  }
  .ending-tab{
    display: none;
  }
  .nav{
    display: none;
  }
  .logo-des-tab{
    display: none;
  }
  .nav-mob{
    display: block;
  }
  .logo-mob-1{
    width: 10% !important;
    padding-left: -4rem !important;

  }
  .logo-mobile{
    display: block;
  }
  .logo-mob{
    width: 18% !important;
    height: 4vw !important;
  }
  .header-mobile{
    width: 96% !important;
    display: block;
    background-color: hsl(203, 96%, 18%) !important;
    height: 75vw;
    margin-left: 0.5rem !important;
  }
  .head-content-mob{
    display: block;
    padding-left: 1rem !important;
   
  }
  .text-heading-mob{
    font-family: 'sunset';
    font-size: 7vw !important;
  }
  .sub-text-mob{
    font-family:'Montserrat', sans-serif;
    font-size: 3vw !important;
  }
  .wrapper-mob{
    width: 100% !important;
  }
  .field-mob{
    width: 100% !important;
    border-style: none !important;
    height: 9vw !important;
    background-color: #a5acb9 !important;
  }
  .field-btn-mob{
    width: 100% !important;
    background-color: #3BAD0A !important;
  }
  .wrapper-mob-1{
    width: 100% !important;
    /* margin-left: 5rem !important; */
    margin-top: -2rem !important;
  }
  .email-space-mob{
    border-style: none;
    background-color: #a5acb9 !important;
    width: 100% !important;
    font-size: 2.5vw !important;
  }
  .email-space-mob-2{
    border-style: none;
    background-color: #ffffff !important;
    width: 100% !important;
  }
  .email-btn-mob{
    background-color: #3BAD0A !important;
    font-family: 'Montserrat', sans-serif;
    width: 100% !important;
    position:relative;
    display: inline;
    border: none;
    top: -1;
    right: 0;
  }
  .email-btn-mob-ft{
    background-color: #3BAD0A !important;
    font-family: 'Montserrat', sans-serif;
    width: 60% !important;
    position:relative;
    border: none;
    
  }
  #inputEmail4-mob::placeholder{
    color: rgb(8, 8, 8) ;
    padding-left: 0rem !important;
    font-family: 'Montserrat', sans-serif ;
    font-size: 4vw;
    font-weight: 400;
  }
  #inputEmail4-mob-home::placeholder{
    color: rgb(8, 8, 8) ;
    padding-left: 0rem !important;
    font-family: 'Montserrat', sans-serif ;
    font-size: 3.5vw;
    font-weight: 400;
  }
  #join-mob{
    color: white !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.8vw;
    font-weight: 700;
  }
  #join-mob-home{
    color: white !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.3vw;
    font-weight: 700;
  }
  
  .does-mob{
    display: block;
    padding-top: 6rem;
  }
  .does-mobi{
    font-family: 'Sunset';
    font-size: 11vw !important;
    font-weight: 900 !important;
  }
  .if-text-mob{
    font-size: 3.2vw !important;
  }
  .savings-mob{
    display: block;
    margin-right: 3rem !important;
    padding-left: -1rem !important;
    margin-top: -2rem !important;
    width: 100%;
  }
  .why-mob{
    font-family: 'sunset';
    font-size: 11vw !important;
    font-weight: 900 ;
  }
  .do-head-mob{
    font-family: 'Sunset';
    font-size: 7vw !important;
  }
  .do-text-mob{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 3.5vw !important;
    margin-bottom: 2rem !important;
  }
  .logo-1-mob{
    display: block;
    width: 80% !important;
    /* margin-top: 1rem !important; */
    padding-top: 3rem !important;
    padding-left: 1rem !important;
    padding-bottom: 1rem !important;
   
    
    /* padding-bottom: 1rem!important; */
  }
  .nav-mob{
    padding-top: 0rem;
    /* margin-bottom: 3rem; */
  }
  .blog-mob{
    font-size: 4vw !important;
    margin-top: 0.8rem !important;
    padding-right: 10px !important;
  }
  .card-text-mob{
    font-size: 4vw !important;
  }
  .card-2-mob{
    width: 90% !important;
    margin-left: 22px !important;
  }
  .card-2-mob-1{
    width: 90% !important;
    margin-left: 10px !important;
    /* margin-bottom: 30px !important; */
  }
  .card-2-mob-3{
    width: 90% !important;
    margin-left: 22px !important;
    margin-top: -20px !important;
  }
  .card-2-mob-4{
    width: 90% !important;
    margin-left: 22px !important;
    margin-top: 20px !important;
  }
  .obtain-mob{
    font-family: 'Montserrat', sans-serif;
    font-size: 6vw !important;
    padding-top: 1rem !important;
  }
  .obtain-mob-3{
    font-family: 'Montserrat', sans-serif;
    font-size: 6vw !important;
    padding-top: 2rem !important;
    padding-left: 0rem !important;
  }
  .obtain-mob-4{
    font-family: 'Montserrat', sans-serif;
    font-size: 5.9vw !important;
    margin-top: 10px !important;
    /* padding-top: 20px !important; */
  }
  .vec-1-mob{
    width: 25% !important;
    padding-top: 2rem !important;
  }
  .if-mob{
    display: block;
    font-family: 'Montserrat', sans-serif;
    /* padding-top: 1.5rem; */
    text-transform: uppercase;
  }
  .we-mob{
    display: block;
    margin-left: 3rem !important;
    padding-right: 3rem !important;
    padding-left: 0rem !important;
  }
  .why-text-mob{
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5vw !important;
    /* font-weight: 400; */
    text-transform: uppercase;
  }
  .image-mob{
    width: 60%;
    padding-left: 4rem !important;
    margin-left: 1rem !important;
  }
  .earn-mob{
    font-family: 'Sunset-Serial';
    font-size: 9vw !important;
    font-weight: 700 !important;
    text-align: center;
  }
  .p-text-mob{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 4.5vw !important;
    font-weight: 500 !important;
  }
  .do-head-mob{
    display: block;
    margin-top: -2rem !important;
  }
  .too-text-mob{
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 4vw !important;
  }
  .you-text-mob{
    font-size: 4vw !important;
    padding-bottom: 1rem !important;
  }
  .elipse{
    background: url(./components/images/Ellipse\ 1\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 100% !important; */
    margin-top: -3rem !important;
    /* padding-bottom: -10rem !important; */
    /* padding-right: 6rem !important; */
    /* margin-right: 4rem !important; */
  }
  .submit-mob{
    display: block;
    padding-top: 1rem !important;
  }
  .links-mob{
    display: block;
    width: 100% !important;
    /* padding-right: 1rem !important;
    margin-bottom: -1rem !important; */
  }
  .find-us-1-mob{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.8vw !important;
    /* margin-left: 18rem !important; */
  }
  .find-us-btn-mob{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.2vw !important;
  }
  .find-us-btn-mob-1{
    font-family: 'Montserrat', sans-serif;
    font-size: 2vw !important;
  }
  .fsize-mob{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5vw !important;
    font-weight: 600 !important;
    padding-right: -3rem !important;
  }
  .fsize-p-mob{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5vw !important;
    font-weight: 400 !important;
  }
  .ending-mob{
    display: block;
  }
  .logo-ending-mob{
    width: 60% !important;
  }
  .ending-p-mob{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5vw !important;
    padding-right: 5rem !important;
  }
  .py-5-s{
    padding-top: 1rem !important;
    padding-left: 1rem !important;
    margin-top: 0rem !important;
  }
  .faq-mob{
    
  }
  .acco-1-mob{
    font-family: 'Sunset' ;
    font-size: 5vw !important;
    font-weight: 600 !important;
  }
  .faq-mob{
    font-family: 'Sunset';
    font-size: 8vw !important;
  }
  .acco-2-mob{
    font-family: 'Montserrat', sans-serif ;
    font-size: 3vw !important;
    font-weight: 500 !important;
  }
  .sub-text-sm{
    font-size: 0.75rem;
  }
  .savings {
   display: none;
  }
  .savings-2{
    display: block;
    padding-left: 12rem !important;
  }
  
  .wrapper-sm{
    background-color: #a5acb9 !important;
    position: relative;
    width: 100px !important;
    border: none;
    border: 50px;
    border-radius: 50px;
  }
  .email-space-sm{
    border-style: none;
    background-color: #a5acb9 !important;
    width: 100px;
  }
  .email-btn-sm{
    background-color: #3BAD0A !important;
    font-family: Roboto;
    width: 100px;
    position: absolute;
    display: inline;
    border: none;
    top: 0;
    right: 0;
    letter-spacing: 0.05rem;
  
  }

}
